<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">

    <!-- Define the test suite -->
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory> <!-- Path to your test directory -->
        </testsuite>
    </testsuites>

    <!-- Code coverage configuration -->
    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">./</directory> <!-- Point to the root folder where your PHP files are -->
        </include>
        <report>
            <!-- Coverage report formats -->
            <clover outputFile="coverage-report/clover.xml"/>
            <html outputDirectory="coverage-report"/>
        </report>
    </coverage>

</phpunit>
