<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://schema.phpunit.de PHPUnit-11.5.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="false"
    stderr="true"
    backupGlobals="false"
    cacheResult="false"
    cacheDirectory="tmp/cache">

    <!-- Test suite configuration -->
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests</directory> <!-- Path to your test files -->
        </testsuite>
    </testsuites>

    <!-- Code coverage configuration -->
    <coverage>
        <include>
            <directory suffix=".php">./app</directory> <!-- Adjust if your code is in 'src' -->
        </include>

        <exclude>
            <directory suffix=".php">./tests</directory>
        </exclude>
    </coverage>

</phpunit>
